<h1 style="text-align: center;">{{titulo}}</h1> 

<form>

  <input type="text" name="nombre" [(ngModel)]="nombrE"> <br>
  <input type="text" name="apellido" [(ngModel)]="apellidO"> <br> 

  <input type="submit" value="Registrar" (click)="registrarUsuario()">


</form>

<br>

 <!-- hasta que no haya un registrado este texto no aparece -->
<p *ngIf="registrado; else sinRegistrar" >{{mensaje}} con el nombre de: {{nombrE}} {{apellidO}}</p>
<!-- aplico la directiva ngIf, en caso de haber registro muestro el msj exitoso, sino muestro que no hay nadie registrado -->

<ng-template #sinRegistrar> <!-- ng-template no muestra nada hasta que se le indique -->
  <p>Nadie registrado</p>
</ng-template>


<br>
<br>
<br>

<ul>
  <li *ngFor= "let entrada of entradas; let i=index"><span style="font-size:larger; font-weight:bold">{{entrada.titulo}} </span>
  . Entrada{{i}}</li>
</ul>

